<template>
    <div>
        <div class="boxes" v-for="(value, index) in values">
            <input type="checkbox" :id="index" :checked="value.hasRole" :disabled="disabled">
            <label :for="index">{{value.name}}</label>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'checkbox',

        props: {
            values: {
                type: Array,
                default: ''
            },
            disabled: {
                type: Boolean,
                default: false
            }
        },

        data() {
            return {
                selected: []
            }
        },

        methods: {
            onSelect: function (items) {
                this.selected = items
            }
        }
    }
</script>
