<template>
    <div>
        <div class="row">
            <h3 class="left"><i>{{representationName}}</i></h3>
        </div>

        <graph-line
                :height="400"
                :shape="'normal'"
                :axis-full-mode="true"
                :labels="labels"
                :names="names"
                :values="values">
            <tooltip :names="names" :position="'right'"></tooltip>
            <legends :names="names"></legends>
            <guideline :tooltip-x="true"></guideline>
        </graph-line>
    </div>
</template>

<script>
    import {VeLine} from 'v-charts';

    import GraphLine3D from 'vue-graph/src/components/line3d.js'
    import NoteWidget from 'vue-graph/src/widgets/note.js'
    import LegendWidget from 'vue-graph/src/widgets/legends.js'

    export default {
        name: "Result",

        props:{
            representationName: {
                type: String,
                default: 'Function representation'
            },

            columns: {
                type: Array,
                default: []
            },

            data: {
                type: Object,
                default: function () { return [] }
            }
        },

        components: {
            VeLine
        },

        data() {
            return {
                names: [],
                values: [],
                labels: []
            }
        },

        watch: {
            data() {
                this.values = this.data.values;
                this.labels = Object.values(this.data.labels);
            }
        },

        created() {
            this.values = this.data.values;
            this.labels = Object.values(this.data.labels);
            this.names = this.columns;
        }
    }
</script>

<style>
    button{
        margin-top: 10px;
    }
</style>