<template>
    <div class="pollsRepresentation">
        <h3 class="left"><i>{{representationName}}</i></h3>

        <!--<img :src="transferFunctionImage" alt="Transfer Function" class="transferFunction">-->
        <div class="pollsRepresentation">
            <div id="circle-container">
                <div class="quarter top-left"></div>
                <div class="quarter top-right"></div>
                <div class="quarter bottom-left"></div>
                <div class="quarter bottom-right"></div>
                <div class="fill-circle"></div>
                <div v-for="(poll, polIndex) in polls" :key="polIndex">
                    <div class="dot" v-bind:style="resolvePointPosition(poll)"></div>
                </div>
            </div>
            <span id="img">Imaginary Part</span>
            <span id="real">Real Part</span>
        </div>
    </div>
</template>

<script>
    export default {
        name: "PollsRepresentation",

        props: {
            representationName: {
                type: String,
                default: 'Polls representation'
            },
            polls: {
                type: Array,
                default: []
            },
            transferFunctionImage: {
                type: String,
                default: require('@/assets/img/transfer_function.png')
            },
        },

        methods: {
            resolvePointPosition(poll) {
                let centerPositionVariable = 140;
                let top = 0;
                let left = 0;
                // Q1
                if (poll.img > 0 && poll.real > 0) {
                    top = centerPositionVariable + poll.img * 100 * 1.5;
                    left = centerPositionVariable + poll.real * 100 * 1.5;
                }
                // Q2
                else if (poll.img > 0 && poll.real < 0) {
                    top = centerPositionVariable + poll.img * 100 * 1.5;
                    left = centerPositionVariable + poll.real * 100 * 1.5;
                }
                // Q3
                else if (poll.img < 0 && poll.real < 0) {
                    top = centerPositionVariable + poll.img * 100 * 1.5;
                    left = centerPositionVariable + poll.real * 100 * 1.5;
                }
                // Q4
                else if (poll.img < 0 && poll.real > 0) {
                    top = centerPositionVariable + poll.img * 100 * 1.5;
                    left = centerPositionVariable + poll.real * 100 * 1.5;
                }

                // if values negative, set it to 0
                if (top < 0) {
                    top = 0;
                }
                if (left < 0) {
                    left = 0;
                }

                return 'margin-top: ' + top + 'px; margin-left: ' + (288 - left) + 'px';
            }
        }
    }
</script>

<style>
    .chartHeader .right {
        margin-top: 10px;
    }

    .pollsRepresentation {
        margin-bottom: 50px;
    }
</style>