<template>
    <div>
        <md-dialog-confirm
                :md-active.sync="active"
                :md-title="title"
                :md-content="content"
                md-confirm-text="Yes"
                md-cancel-text="No"
                @md-cancel="onCancel"
                @md-confirm="onConfirm" />

        <md-button @click="active = true" class="md-fab md-mini md-danger">
            <md-icon>delete</md-icon>
        </md-button>
    </div>
</template>

<script>
    export default {
        name: 'ModalConfirm',

        props: ['title', 'content', 'item'],

        data() {
            return {
                active: false,
                selectedItem: ''
            }
        },

        methods: {
            onConfirm () {
                this.selectedItem = this.item;

                // emit page size change
                this.$emit('update:selectedItem', this.selectedItem);
            },
            onCancel () {
                this.selectedItem = '';
            }
        }
    }
</script>

<style>
    .md-dialog-actions {
      margin-left: auto;
      margin-right: auto;
    }
</style>