<template>
    <div>
        <md-dialog-prompt
                :md-active.sync="active"
                v-model="value"
                :md-title="title"
                :md-input-placeholder="placeholder"
                md-confirm-text="Save"/>

        <md-button class="md-primary md-raised md-success" @click="active = true">{{name}}</md-button>
    </div>
</template>

<script>
    export default {
        name: 'ModalDialog',

        props: [
            'name', 'title', 'placeholder'
        ],

        data() {
            return {
                active: false,
                value: null
            }
        },

        watch: {
            value(newValue, oldValue) {
                this.$emit('update:value', newValue);
            }
        }
    }
</script>