<template>
    <div class="datatable">

        <v-select v-if="selected.length > 0"
                  :options="quickActions"
                  v-model="selectedQuickAction"
                  class="md-title" label="name"
                  placeholder="Quick actions">
        </v-select>

        <md-table v-model="searched" :md-selected-value.sync="selected" @md-selected="onSelect" md-sort="name" md-sort-order="asc">
            <md-table-toolbar>
                <h1 class="md-title">{{alternativeHeaderTitle}}</h1>

                <md-field md-clearable class="md-toolbar-section-end">
                    <md-input placeholder="Search by name..." v-model="search" @input="searchOnTable"/>
                </md-field>
            </md-table-toolbar>

            <md-table-toolbar slot="md-table-alternate-header" class="md-info" slot-scope="{ count }">
                <div class="md-toolbar-section-start">{{ getAlternateLabel(count) }}</div>

                <div class="md-toolbar-section-end">
                    <md-button class="md-icon-button md-info" @click="clearSelected">
                        <md-icon>delete</md-icon>
                    </md-button>
                </div>
            </md-table-toolbar>

            <md-table-empty-state
                    md-label="No data found"
                    :md-description="`No data found for this '${search}' query. Try a different search term...`">
            </md-table-empty-state>

            <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="multiple" class="md-info">
                <md-table-cell v-for="(value, index) in item"
                               v-if="columns.includes(index)"
                               :md-label="index"
                               :md-sort-by="index"
                               :key="index">
                    {{ value }}</md-table-cell>

                <md-table-cell md-label="Actions" class="datatableActions" v-if="actions !== ''">
                    <md-button class="md-fab md-mini md-success" v-if="actions.hasOwnProperty('edit')">
                        <md-icon>edit</md-icon>
                    </md-button>
                    <md-button class="md-fab md-mini md-primary" v-if="actions.hasOwnProperty('view')">
                        <md-icon>open_in_new</md-icon>
                    </md-button>
                    <modal-confirm v-if="actions.hasOwnProperty('delete')"
                                   :item="item"
                                   v-bind:selectedItem.sync="selectedItem"
                                   :title="'Are you sure you want to delete this data?'"
                                   :content="'Once you delete this item you will not be able to restore it.'"
                                   >
                    </modal-confirm>
                </md-table-cell>
            </md-table-row>

            <md-custom-pagination v-if="showPagination"
                                  :md-page-size="15"
                                  :md-total="data.length"
                                  md-separator="of"
                                  v-bind:mdPageSize.sync="mdPageSize"
                                  v-bind:currentItemCount.sync="currentItemCount"
                                  v-bind:currentPageCount.sync="currentPageCount"
                                  :md-page-options="[5, 10, 25, 50]">
            </md-custom-pagination>
        </md-table>
    </div>
</template>

<script>
    import MdCustomPagination from '@/components/helpers/MdCustomPagination'
    import ModalConfirm from '@/components/helpers/modals/Confirm'
    import vSelect from 'vue-select'

    export default {
        name: 'TableMultiple',

        props: {
            requestUrl: {
                type: String,
                default: ''
            },
            alternativeHeaderTitle: {
                type: String,
                default: ''
            },
            actions: {
                type: Object,
                default: ''
            },
            columns: {
                type: Array,
                default: ''
            },
            showPagination: {
                type: Boolean,
                default: true
            }
        },

        components: {
            'modal-confirm':() => import ('@/components/helpers/modals/Confirm'),
            'md-custom-pagination':() => import ('@/components/helpers/MdCustomPagination'),
            vSelect
        },

        data() {
            return {
                data: this.getData(),
                selectedItem: '',
                selected: [],
                search: null,
                searched: [],
                mdPageSize: 15,
                currentItemCount: 0,
                currentPageCount: 0,
                selectedQuickAction: '',
                quickActions: [
                    {name: "Select All"},
                    {name: "Deselect All"},
                    {name: "Delete Selected"}
                ]
            }
        },

        methods: {
            toLower(text) {
                return text.toString().toLowerCase()
            },

            searchOnTable() {
                if (this.search) {
                    this.searched = this.data.filter(item => this.toLower(item.name).includes(this.toLower(this.search)))
                }
                else {
                    this.searched = this.data.slice(0, this.mdPageSize)
                }
            },

            onSelect(items) {
                this.selected = items
            },

            clearSelected() {
                this.selected = [];
            },

            getAlternateLabel(count) {
                let plural = '';

                if (count > 1) {
                    plural = 's'
                }

                return `${count} item${plural} selected`
            },

            getData() {
                axios.get(this.requestUrl)
                    .then(response => {
                        if (response.data.code === 100) {
                            this.data = response.data.data;
                            this.searched = this.data.slice(0, this.mdPageSize)
                        }
                    })
                    .catch(error => {
                        this.data = []
                    });
            },

            delete(data){
                // set loading state
                this.loadingStore.setLoading(true);
                axios.delete(this.actions.delete, {
                    data: data
                }).then(response => {
                    console.log(response.data);
                    if (response.data.code === 100) {
                        // show success notification
                        this.notificationStore.showNotification(
                            'Item was successfully delete it.',
                            'success',
                            '_' + Math.random().toString(36)
                        );
                        // get data
                        this.getData()
                    }
                    else {
                        // show success notification
                        this.notificationStore.showNotification(
                            'Item was not delete it. Please try again',
                            'danger',
                            '_' + Math.random().toString(36)
                        );
                    }
                    // set loading state
                    this.loadingStore.setLoading(false);
                })
                    .catch(error => {
                        // set loading state
                        this.loadingStore.setLoading(false);
                    });
            }
        },

        watch: {
            mdPageSize() {
                this.searched = this.data.slice(0, this.mdPageSize)
            },

            currentItemCount() {
                  this.searched = this.data.slice(this.currentItemCount - 1 , this.currentPageCount)
            },

            selectedItem() {
                this.delete(this.selectedItem)
            },

            selectedQuickAction() {
                if(this.selectedQuickAction.name === 'Select All') {
                    this.selected = this.data;
                    this.selectedQuickAction = ''
                }
                if(this.selectedQuickAction.name === 'Deselect All') {
                    this.selected = [];
                    this.selectedQuickAction = ''
                }
                if(this.selectedQuickAction.name === 'Delete Selected') {
                    this.delete(this.selected);
                    this.selectedQuickAction = '';
                    this.selected = [];
                }
            }
        },

        created () {
            this.searched = this.data.slice(0, this.mdPageSize)
        }
    }
</script>

<style lang="scss" scoped>
    .md-table + .md-table {
        margin-top: 16px
    }

    .md-field {
        max-width: 300px;
    }
</style>