<template>
    <div class="content">
        <div class="md-layout">
            <div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100">
                <notification :type="notificationStore.state.type"
                              :message="notificationStore.state.message"
                              :uid="notificationStore.state.uid"
                              class="dataTableAlerts"
                ></notification>

                <md-card>
                    <md-card-header data-background-color="green">
                        <h4 class="title">Butterworth Transfer Function Values</h4>
                        <p class="category">Here you can view butterworth trasnfer function values</p>
                    </md-card-header>
                    <md-card-content>
                        <data-table table-header-color="green"
                                    :requestUrl="requestUrl"
                                    :actions="actions"
                                    :columns="columns"
                                    :multiSelectActivated="false"
                                    :showPagination="false"
                                    :alternativeHeaderTitle="alternativeHeaderTitle">
                        </data-table>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'FilterResults',

        components: {
            'data-table':() => import ('@/components/Tables/DataTable.vue'),
            'notification':() => import ('@/components/NotificationPlugin/Notification.vue')
        },

        data() {
            return {
                requestUrl: '/butterworth/transfer/function/values',
                alternativeHeaderTitle: 'Preview all saved filters',
                columns: [
                    's1', 's2', 's3', 's4', 's5', 's6', 's7', 's8', 's9', 's10', 's11'
                ]
            }
        }
    }
</script>