<template>
    <div class="content">
        <div class="md-layout">
            <div class="md-layout-item md-medium-size-100 md-size-66">
                <edit-profile-form data-background-color="green">

                </edit-profile-form>
            </div>
            <div class="md-layout-item md-medium-size-100 md-size-33">
                <user-roles></user-roles>
            </div>
        </div>
    </div>
</template>

<script>
    import UserCard from '../pages/UserProfile/UserCard.vue'
    import UserRoles from '../pages/UserProfile/UserRoles.vue'
    import EditProfileForm from '../pages/UserProfile/EditProfileForm.vue'

    export default {
        components: {
            'user-roles': UserRoles,
            'edit-profile-form': EditProfileForm,
            'user-card': UserCard
        }
    }
</script>
