<template>
    <div class="auth-content">
        <div class="md-layout">
            <div class="md-layout-item ">

                <notification :type="notificationStore.state.type"
                              :message="notificationStore.state.message"
                              :uid="notificationStore.state.uid"
                ></notification>

                <md-card>
                    <md-card-header :data-background-color="dataBackgroundColor">
                        <h1 class="title">Register</h1>
                    </md-card-header>

                    <loader v-if="$loadingStore.isLoading"></loader>

                    <md-card-content v-else>
                        <div class="md-layout-item md-small-size-100 md-size-100">
                            <md-field>
                                <label>First name</label>
                                <md-input v-model="auth.first_name" type="text"></md-input>
                            </md-field>
                        </div>

                        <div class="md-layout-item md-small-size-100 md-size-100">
                            <md-field>
                                <label>Last name</label>
                                <md-input v-model="auth.last_name" type="text"></md-input>
                            </md-field>
                        </div>

                        <div class="md-layout-item md-small-size-100 md-size-100">
                            <md-field>
                                <label>Email</label>
                                <md-input v-model="auth.email" type="email"></md-input>
                            </md-field>
                        </div>

                        <div class="md-layout-item md-small-size-100 md-size-100">
                            <md-field>
                                <label>Password</label>
                                <md-input v-model="auth.password" type="password"></md-input>
                            </md-field>
                        </div>

                        <div class="md-layout-item md-small-size-100 md-size-100">
                            <md-field>
                                <label>Confirm Password</label>
                                <md-input v-model="auth.password_confirmation" type="password"></md-input>
                            </md-field>
                        </div>

                        <div class="md-layout-item md-size-100 text-right">
                            <md-button class="md-raised md-success" @click="register">Create an account</md-button>
                        </div>

                        <div class="text-centered">
                            <span>Already have an account? </span>
                            <router-link :to="{ path: 'login' }">Login here</router-link>
                        </div>
                    </md-card-content>
                </md-card>

            </div>
        </div>
    </div>
</template>

<script>
    import UserCard from '@/pages/UserProfile/UserCard.vue'
    import EditProfileForm from '@/pages/UserProfile/EditProfileForm.vue'

    export default {
        name: 'Register',

        components: {
            'notification':() => import ('@/components/NotificationPlugin/Notification.vue'),
            'loader':() => import ('@/components/LoadingPlugin/Loader.vue'),
            'edit-profile-form': EditProfileForm,
            'user-card': UserCard
        },

        data() {
            return {
                dataBackgroundColor: 'green',
                auth: {
                    first_name: '',
                    last_name: '',
                    email: '',
                    password: '',
                    password_confirmation: ''
                }
            }
        },

        methods: {
            register() {
                // set loading state
                this.loadingStore.setLoading(true);
                axios.patch('/register', this.auth)
                    .then(response => {
                        if (response.data.code === 100) {
                            // save customer uid & token into local storage
                            localStorage.setItem('uid', response.data.data.uid);
                            localStorage.setItem('token', response.data.data.token);

                            // remove error notifications
                            this.notificationStore.removeNotification();

                            // set global user
                            this.userStore.setUser(response.data.data);

                            // redirect to dashboard
                            this.$router.push({name: 'Dashboard'})
                        }
                        else if (response.data.code === 500) {
                            // show errors that might be thrown on saving the customer
                            this.notificationStore.showNotification(response.data.message,'danger','_' + Math.random().toString(36));
                        }
                        // set loading state
                        this.loadingStore.setLoading(false);
                    })
                    .catch(error => {
                        // show validation errors
                        this.notificationStore.showValidationNotification(error);
                        // set loading state
                        this.loadingStore.setLoading(false);
                    })
            }
        }
    }
</script>