<template>
    <div class="content">
        <div class="md-layout">
            <div class="md-layout-item md-medium-size-100"
                 v-bind:class="[ isResultVisible ? 'md-size-25' : 'md-size-40']">
                <notification :type="notificationStore.state.type"
                              :message="notificationStore.state.message"
                              :uid="notificationStore.state.uid"
                ></notification>
                <md-card>
                    <md-card-header :data-background-color="'green'">
                        <h4 class="title">Configure filter</h4>
                        <p class="category">Please choose the filer specifications</p>
                    </md-card-header>

                    <md-card-content>
                        <div class="md-layout-item md-medium-size-100 md-size-100">
                            <v-select label="name" :options="filters" v-model="selectedFilter"
                                      placeholder="Select Filter"></v-select>

                            <v-select label="name" :options="filterTypes" v-model="selectedFilterType"
                                      placeholder="Select Filter Type"
                                      :disabled="!isFilterTypeAvailable"></v-select>
                        </div>

                        <div class="md-layout" v-if="isFilterTypeAvailable && isRestOfTheFiltersAvailable">
                            <butter-worth-ftj-fts ref="component" :isResultVisible="isResultVisible"
                                                  v-if="selectedFilter.name === 'Butterworth' &&
                                    (selectedFilterType.name === 'FTJ' || selectedFilterType.name === 'FTS')">
                            </butter-worth-ftj-fts>
                            <butter-worth-fob-ftb ref="component" :isResultVisible="isResultVisible"
                                                  v-if="selectedFilter.name === 'Butterworth' &&
                                    (selectedFilterType.name === 'FOB' || selectedFilterType.name === 'FTB')">
                            </butter-worth-fob-ftb>

                            <cauer-ftj-fts ref="component" :isResultVisible="isResultVisible"
                                           v-if="selectedFilter.name === 'Cauer' &&
                                    (selectedFilterType.name === 'FTJ' || selectedFilterType.name === 'FTS')">
                            </cauer-ftj-fts>
                            <cauer-fob-ftb ref="component" :isResultVisible="isResultVisible"
                                           v-if="selectedFilter.name === 'Cauer' &&
                                    (selectedFilterType.name === 'FOB' || selectedFilterType.name === 'FTB')">
                            </cauer-fob-ftb>

                            <chebisev-ftj-fts ref="component" :isResultVisible="isResultVisible"
                                              v-if="selectedFilter.name === 'Chebisev' &&
                                    (selectedFilterType.name === 'FTJ' || selectedFilterType.name === 'FTS')">
                            </chebisev-ftj-fts>
                            <chebisev-fob-ftb ref="component" :isResultVisible="isResultVisible"
                                              v-if="selectedFilter.name === 'Chebisev' &&
                                    (selectedFilterType.name === 'FOB' || selectedFilterType.name === 'FTB')">
                            </chebisev-fob-ftb>

                            <invers-chebisev-ftj-fts ref="component" :isResultVisible="isResultVisible"
                                                     v-if="selectedFilter.name === 'Invers-Chebisev' &&
                                    (selectedFilterType.name === 'FTJ' || selectedFilterType.name === 'FTS')">
                            </invers-chebisev-ftj-fts>
                            <invers-chebisev-fob-ftb ref="component" :isResultVisible="isResultVisible"
                                                     v-if="selectedFilter.name === 'Invers-Chebisev' &&
                                    (selectedFilterType.name === 'FOB' || selectedFilterType.name === 'FTB')">
                            </invers-chebisev-fob-ftb>
                        </div>

                        <div class="md-layout-item md-size-100"
                             v-if="isFilterTypeAvailable && isRestOfTheFiltersAvailable">
                            <md-button class="md-raised md-success" style="width: 100%;" @click="submit"
                                       v-bind:class="{disabled: $loadingStore.isLoading}"
                                       :disabled="$loadingStore.isLoading">Design Filter
                            </md-button>
                        </div>

                    </md-card-content>
                </md-card>
            </div>

            <div class="md-layout-item md-medium-size-100 md-size-75" v-if="isResultVisible">
                <md-card>
                    <md-card-header :data-background-color="'green'">
                        <h4 class="title">Results</h4>
                        <p class="category">Preview of the designed filter</p>
                    </md-card-header>

                    <md-card-content>
                        <modal-dialog :name="'Save Chart'" :title="'What\'s your name?'" class="right saveChart"
                                      :placeholder="'Enter chart name...'"
                                      v-bind:value.sync="saveChartValue"></modal-dialog>

                        <polls-representation :polls="polls"></polls-representation>

                        <div class="transfer_function_formula" style="margin-bottom: 40px;">
                            <h3>Functia de trasnfer:</h3>
                            <span class="function_declaration">H(s) = </span>
                            <span class="function_up"
                                  v-bind:style="{'margin-left': transferFunction.denumitorMarginLeft + 'px'}">1</span>
                            <div class="numitor" v-html="transferFunction.numitor"></div>
                        </div>

                        <div class="md-layout">
                            <div class="md-layout-item md-medium-size-50">
                                <!--Amplitude representation-->
                                <function-representation
                                        representationName="Amplitude representation of the transfer function"
                                        :data.sync="amplitudeValues.transfer"
                                        :columns="['Amplitude']">
                                </function-representation>
                            </div>

                            <div class="md-layout-item md-medium-size-50">
                                <!--Phase representation-->
                                <function-representation
                                        representationName="Phase representation of the transfer function"
                                        :data.sync="phaseValues.transfer"
                                        :columns="['Phase']">
                                </function-representation>
                            </div>
                        </div>

                        <div class="transfer_function_formula" style="margin-bottom: 40px;">
                            <h3>Functia de transfer denormata:</h3>
                            <span class="function_declaration">H(s) = </span>
                            <span class="function_up"
                                  v-bind:style="{'margin-left': denormation.denumitorMarginLeft + 'px'}"
                                  v-html="denormation.denumitor"></span>
                            <div class="numitor" v-html="denormation.numitor"></div>
                        </div>

                        <div class="md-layout">
                            <div class="md-layout-item md-medium-size-50">
                                <!--Amplitude representation-->
                                <function-representation
                                        representationName="Amplitude representation of the denormation function"
                                        :data.sync="amplitudeValues.denormation"
                                        :columns="['Amplitude']">
                                </function-representation>
                            </div>

                            <div class="md-layout-item md-medium-size-50">
                                <!--Phase representation-->
                                <function-representation
                                        representationName="Phase representation of the denormation function"
                                        :data.sync="phaseValues.denormation"
                                        :columns="['Phase']">
                                </function-representation>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</template>

<script>
    import vSelect from 'vue-select'
    import axios from 'axios'

    export default {
        name: "Design",

        components: {
            vSelect,
            'notification': () => import ('@/components/NotificationPlugin/Notification.vue'),
            'polls-representation': () => import ('@/components/Filters/Charts/Polls'),
            'function-representation': () => import ('@/components/Filters/Charts/FunctionRepresentation'),
            'butter-worth-ftj-fts': () => import('@/components/Filters/Butterworth/FtjFts.vue'),
            'butter-worth-fob-ftb': () => import('@/components/Filters/Butterworth/FobFtb.vue'),
            'cauer-ftj-fts': () => import('@/components/Filters/Cauer/FtjFts.vue'),
            'cauer-fob-ftb': () => import('@/components/Filters/Cauer/FobFtb.vue'),
            'chebisev-ftj-fts': () => import('@/components/Filters/Chebisev/FtjFts.vue'),
            'chebisev-fob-ftb': () => import('@/components/Filters/Chebisev/FobFtb.vue'),
            'invers-chebisev-ftj-fts': () => import('@/components/Filters/InversChebisev/FtjFts.vue'),
            'invers-chebisev-fob-ftb': () => import('@/components/Filters/InversChebisev/FobFtb.vue'),
            'modal-dialog': () => import ('@/components/helpers/modals/Dialog'),
        },

        data() {
            return {
                filters: [
                    {name: "Butterworth"},
                    {name: "Chebisev"},
                    {name: "Invers-Chebisev"},
                    {name: "Cauer"},
                ],
                filterTypes: [
                    {name: "FTJ"},
                    {name: "FTS"},
                    {name: "FOB"},
                    {name: "FTB"},
                ],
                selectedFilter: null,
                selectedFilterType: null,
                isFilterTypeAvailable: false,
                isRestOfTheFiltersAvailable: false,
                isResultVisible: false,

                saveChartValue: '',

                polls: [],
                transferFunction: [],
                denormation: [],
                amplitudeValues: {
                    transfer: [],
                    denormation: [],
                },
                phaseValues: {
                    transfer: [],
                    denormation: [],
                }
            }
        },

        methods: {
            submit() {
                // set loading state
                // this.loadingStore.setLoading(true);
                // call API
                axios.post('/filter/design', {
                    filter: this.selectedFilter.name,
                    filterType: this.selectedFilterType.name,
                    params: this.$refs.component.params,
                }).then(response => {
                    if (response.data.code === 100) {
                        // set polls
                        this.polls = response.data.polls;

                        // set transfer function coefficients
                        this.formatTransferFunction(response.data.transfer_function_coefficients);

                        // set denormation transfer function
                        this.formatDenormationTransferFunction(response.data.denormation_transfer_function);

                        // set amplitude & phase values
                        this.amplitudeValues.transfer = response.data.phase_and_amplitude_values.transfer_function.amplitude;
                        this.phaseValues.transfer = response.data.phase_and_amplitude_values.transfer_function.phase;
                        this.amplitudeValues.denormation = response.data.phase_and_amplitude_values.denormation_function.amplitude;
                        this.phaseValues.denormation = response.data.phase_and_amplitude_values.denormation_function.phase;

                        // show success notification
                        this.notificationStore.showNotification(
                            'User profile was updated successfully.',
                            'success',
                            '_' + Math.random().toString(36)
                        );
                    }
                    // set loading state
                    this.loadingStore.setLoading(false);
                    // if response is success show results table
                    this.isResultVisible = true;
                    // if is valid remove any remaining notifications
                    this.notificationStore.removeNotification()
                }).catch(error => {
                    // show validation errors
                    this.notificationStore.showValidationNotification(error);
                    // set loading state
                    this.loadingStore.setLoading(false);
                });
            },

            formatTransferFunction(coefficients) {
                let numitor = '';
                Object.keys(coefficients).forEach(function (index) {
                    let formattedCoefficient = coefficients[index].value;
                    if (coefficients[index].value > 1) {
                        formattedCoefficient = coefficients[index].value.toFixed(2)
                    }
                    if (coefficients[index].pow === 0) {
                        numitor = numitor + formattedCoefficient + ' + ';
                    }
                    else if (coefficients[index].pow === 1) {
                        numitor = numitor + formattedCoefficient + ' * S + ';
                    }
                    else {
                        numitor = numitor + formattedCoefficient + ' * S<span style="position: relative;top: -8px;">' + coefficients[index].pow + '</span> + ';
                    }
                });

                this.transferFunction.denumitorMarginLeft = this.resolveFunctionMarginInPX(numitor.length);
                this.transferFunction.numitor = numitor.substring(0, numitor.length - 3);
            },

            resolveFunctionMarginInPX(value) {
                if (value > 470) {
                    value = 470;
                } else if (value < 180) {
                    value = 180;
                }

                return value;
            },

            formatDenormationTransferFunction(denormations) {
                // save denumitor values
                this.denormation.denumitor = this.composeDenormationArray(denormations.denumitor);
                this.denormation.numitor = this.composeDenormationArray(denormations.numitor);
            },

            composeDenormationArray(values) {
                let value = '';
                values.forEach(function (coefficient) {
                    // if coefficient value is greater than 1, retuce and show just 2 decimals
                    let formattedValue = coefficient.value;
                    if (coefficient.value > 1) {
                        formattedValue = coefficient.value.toFixed(2)
                    }

                    // add function coefficient
                    value += formattedValue;
                    // add pow values just if is greater the zero
                    if (coefficient.pow > 0) {
                        value += '*10<span style="position: relative;top: -8px;">' + coefficient.pow + '</span>'
                    }
                    if (coefficient.pow_off_s > 0) {
                        // if pow off s is 1 shw just s
                        if (coefficient.pow_off_s === 1) {
                            value += '*s'
                        }
                        else {
                            value += '*s<span style="position: relative;top: -8px;">' + coefficient.pow_off_s + '</span>'
                        }
                    }
                    // add + sign
                    value += ' + ';
                });

                this.denormation.denumitorMarginLeft = this.resolveFunctionMarginInPX(value.length / 1.3);
                return value.substring(0, value.length - 3)
            },

            saveFilterData() {
                // set loading state
                this.loadingStore.setLoading(true);
                axios.post('/filter/save', {
                    chartData: this.chartData,
                    name: this.saveChartValue
                }).then(response => {
                    if (response.data.code === 100) {
                        // show success notification
                        this.notificationStore.showNotification(
                            'Filter chart was successfully saved.',
                            'success',
                            '_' + Math.random().toString(36)
                        );
                    }
                    // set loading state
                    this.loadingStore.setLoading(false);
                })
                    .catch(error => {
                        // show validation errors
                        this.notificationStore.showValidationNotification(error);
                        // set loading state
                        this.loadingStore.setLoading(false);
                    });
            },

            setFilterTypeAvailable(bool) {
                this.isFilterTypeAvailable = bool
            },

            setRestOfTheFiltersAvailable(bool) {
                this.isRestOfTheFiltersAvailable = bool
            }
        },

        watch: {
            selectedFilter() {
                if (this.selectedFilter !== null) {
                    this.setFilterTypeAvailable(true)
                }
                else {
                    this.setFilterTypeAvailable(false)
                }
            },

            selectedFilterType() {
                if (this.selectedFilterType !== null && this.selectedFilter !== null) {
                    this.setRestOfTheFiltersAvailable(true);
                }
                else {
                    this.setRestOfTheFiltersAvailable(false);
                }
            },

            saveChartValue() {
                if (this.saveChartValue.length > 0) {
                    this.saveFilterData()
                }
            }
        }
    }
</script>

<style scoped>
    .v-select.searchable {
        margin-bottom: 15px;
    }

    .v-select.searchable .dropdown-toggle {
        max-height: 30px !important;
    }

    .v-select .dropdown-toggle input {
        margin-top: 0 !important;
    }

    .md-layout-item {
        margin-left: auto;
        margin-right: auto;
    }

    .alert {
        position: relative !important;
        width: 100% !important;
    }

    .function_declaration {
        font-size: 30px;
        position: absolute;
        margin-top: 20px;
        font-weight: bold;
    }

    .function_up {
        margin-left: 30%;
        position: absolute;
        margin-top: 8px;
        font-size: 18px;
        font-weight: bold;
    }

    .numitor {
        border-top: 2px solid #000;
        margin-left: 10%;
        position: absolute;
        font-size: 18px;
        font-weight: bold;
        margin-top: 30px;
        padding-top: 10px;
    }

    .transfer_function_formula {
        height: 110px;
    }
</style>