<template>
    <div class="content">
        <div class="md-layout">
            <div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100">
                <notification :type="notificationStore.state.type"
                              :message="notificationStore.state.message"
                              :uid="notificationStore.state.uid"
                              class="dataTableAlerts"
                ></notification>

                <md-card>
                    <md-card-header data-background-color="green">
                        <h4 class="title">Filter Designs</h4>
                        <p class="category">Here you can view all your designed filters</p>
                    </md-card-header>
                    <md-card-content>
                        <data-table table-header-color="green"
                                    :requestUrl="requestUrl"
                                    :actions="actions"
                                    :columns="columns"
                                    :alternativeHeaderTitle="alternativeHeaderTitle">
                        </data-table>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'FilterResults',

        components: {
            'data-table':() => import ('@/components/Tables/DataTable.vue'),
            'notification':() => import ('@/components/NotificationPlugin/Notification.vue')
        },

        data() {
            return {
                alternativeHeaderTitle: 'Preview all saved filters',
                requestUrl: '/filters/get',
                actions: {
                    'view': '/filter/view',
                    'delete': '/filter/delete'
                },
                columns: [
                    'uid', 'name', 'created_at'
                ]
            }
        }
    }
</script>