<template>
    <div class="wrapper">
        <div class="main-panel">
            <auth-content></auth-content>
        </div>
    </div>
</template>

<script>
    export default {
        components: {
            'auth-content':() => import ('./Content.vue')
        }
    }
</script>

<style lang="scss">

</style>
