<template>
    <div class="wrapper">

        <div>
            <notifications></notifications>

            <side-bar>
                <mobile-menu slot="content"></mobile-menu>
                <sidebar-link to="/dashboard">
                    <md-icon>dashboard</md-icon>
                    <p>Dashboard</p>
                </sidebar-link>
                <sidebar-link to="/filter/design">
                    <md-icon>build</md-icon>
                    <p>Design Filters</p>
                </sidebar-link>
                <sidebar-link to="/filter/results">
                    <md-icon>show_chart</md-icon>
                    <p>Show Filter Results</p>
                </sidebar-link>
                <sidebar-link to="/butterworth/transfer/function/values">
                    <md-icon>ballot</md-icon>
                    <p>Butterworth TF Values</p>
                </sidebar-link>
            </side-bar>

            <div class="main-panel" v-bind:class="{isLoading: loadingStore.isLoading}">
                <top-navbar></top-navbar>

                <div class="dashboardLoader">
                    <loader v-if="$loadingStore.isLoading" :fullSize="true"></loader>
                </div>

                <dashboard-content v-bind:class="{dashboardContentOnLoading: loadingStore.isLoading}">

                </dashboard-content>

                <content-footer v-if="!$route.meta.hideFooter"></content-footer>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        components: {
            'top-navbar': () => import('./TopNavbar.vue'),
            'dashboard-content': () => import('./Content.vue'),
            'content-footer': () => import('./ContentFooter.vue'),
            'mobile-menu': () => import('@/pages/Layout/MobileMenu.vue'),
            'loader': () => import('@/components/LoadingPlugin/Loader.vue')
        },

        created() {
            // this.loadingStore.setLoading(false);
        }
    }
</script>

<style lang="scss">

</style>
