<template>
    <md-toolbar md-elevation="0" class="md-transparent">
        <div class="md-toolbar-row">
            <div class="md-toolbar-section-start">
                <h3 class="md-title">{{$route.name}}</h3>
            </div>
            <div class="md-toolbar-section-end">
                <md-button class="md-just-icon md-simple md-toolbar-toggle" :class="{toggled: $sidebar.showSidebar}"
                           @click="toggleSidebar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </md-button>

                <div class="md-collapse">
                    <div class="md-layout">
                        <div class="md-autocomplete">
                            <md-autocomplete class="search" v-model="selectedEmployee" :md-options="employees">
                                <label>Search...</label>
                            </md-autocomplete>
                        </div>
                    </div>
                    <md-list>
                        <md-list-item to="/">
                            <i class="material-icons">dashboard</i>
                            <p class="hidden-lg hidden-md">Dashboard2</p>
                        </md-list-item>

                        <md-list-item :to="$route.path" class="dropdown">
                            <drop-down>
                                <a slot="title" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">notifications</i>
                                    <span class="notification">5</span>
                                    <p class="hidden-lg hidden-md">Notifications</p>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Mike John responded to your email</a></li>
                                    <li><a href="#">You have 5 new tasks</a></li>
                                    <li><a href="#">You're now friend with Andrew</a></li>
                                    <li><a href="#">Another Notification</a></li>
                                    <li><a href="#">Another One</a></li>
                                </ul>
                            </drop-down>
                        </md-list-item>

                        <md-list-item :to="$route.path" class="dropdown">
                            <drop-down>
                                <a slot="title" class="dropdown-toggle" data-toggle="dropdown">
                                    <p style="float: left;" class="username">{{topNavUser.first_name}} {{topNavUser.last_name}}</p>
                                    <i class="material-icons">person</i>
                                    <p class="hidden-lg hidden-md">Profile</p>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <router-link :to="{ name: 'User Profile' }">View profile</router-link>
                                    </li>
                                    <li><a @click="logout">Logout</a></li>
                                </ul>
                            </drop-down>
                        </md-list-item>

                    </md-list>
                </div>
            </div>
        </div>

    </md-toolbar>
</template>

<script>
    export default {
        data() {
            return {
                topNavUser: [],
                selectedEmployee: null,
                employees: [
                    'Jim Halpert',
                    'Dwight Schrute',
                    'Michael Scott',
                    'Pam Beesly',
                    'Angela Martin',
                    'Kelly Kapoor',
                    'Ryan Howard',
                    'Kevin Malone'
                ],
            }
        },
        methods: {
            toggleSidebar() {
                this.$sidebar.displaySidebar(!this.$sidebar.showSidebar)
            },

            logout() {
                // save customer uid & token into local storage
                localStorage.setItem('uid', null);
                localStorage.setItem('token', null);

                // remove error notifications
                this.notificationStore.removeNotification();

                // remove user
                this.userStore.destroy();

                // redirect to login
                this.$router.push({path: 'login'})
            }
        },

        created() {
            if (this.userStore.user.length === 0) {
                axios.get('/user/get')
                    .then(response => {
                        if (response.data.code === 100) {
                            this.userStore.setUser(response.data.data);
                            this.topNavUser = response.data.data;
                        }
                    })
                    .catch(error => {
                        // catch unauthorized access
                        if(error.response.status === 401) {
                            localStorage.setItem('uid', null);
                            localStorage.setItem('token', null);

                            // redirect to login
                            this.$router.push({name: 'Login'})
                        }
                    });
            }
            else {
                this.topNavUser = this.userStore.user
            }
        }
    }
</script>

<style lang="css">
</style>
