.auth-content {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;

  .title {
    text-align: center;
  }

  button {
    width: 100%;
  }

  .md-card {
    position: absolute;
  }

  .md-layout-item {
    padding: 0!important;
  }

  .alert {
    position: relative!important;
    width: 100%!important;
    margin-left: 0!important;
    cursor: unset!important;

    button {
      max-width: 2px;
    }

    span {
      margin-left: -30px;
    }
  }
}