// GENERAL
.text-centered {
  text-align: center;
}

.disabled {
  opacity: 0.5;
}

.left {
  float: left;
}

.right {
  float: right;
}

.content {
  background-color: #ededed;
}

button[class=md-success]:hover {
  cursor: not-allowed !important;
}

.dashboardLoader img {
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px !important;
  margin-top: -250px;
  margin-left: -250px !important;
}

.dashboardContentOnLoading {
  opacity: 0.3;
  pointer-events: none;
}

.main-panel.isLoading {
  cursor: not-allowed;
}

// DATA TABLE
.tableHeader {
  background: linear-gradient(60deg, #26c6da, #00acc1);
}

.md-table-head-label > i {
  right: 0;
  left: auto;
}

.md-table-alternate-header {
  position: relative;
  margin: 0 0 10px 0;
}

.md-ripple {
  padding: 8px !important;
}

.md-selected .md-checkbox, .md-table-head .md-checked .md-checkbox-container {
  background-color: #00bcd4 !important;
}

.md-selected .md-checkbox-container, .md-table-head .md-checked .md-checkbox-container {
  border-color: #00bcd4 !important;
}

.md-table-head-label {
  text-transform: capitalize;
}

.datatableActions {
  padding: 0;
  width: 100px;

  button {
    margin-left: auto;
    margin-right: auto;
  }

  .md-button.md-fab {
    font-size: 18px;
    height: 30px;
    min-width: 30px;
    width: 30px;
    line-height: 30px;
  }
}

.datatable {
  .dropdown-toggle {
    width: 100%;
    max-width: 250px;
    height: 40px;
    font-size: 14px;
  }

  .dropdown-menu {
    width: 100%;
    max-width: 250px;
  }
}
.dataTableAlerts {
  width: 100%!important;
  position: relative!important;
  margin: -20px 0 0 0!important;
  top: 0;

  span {
    margin-left: -50px;
  }
}

@media screen and (max-width: 991px) {
  .dataTableAlerts {
    margin: 0 !important;
  }
}

// MODAL DIALOG
.md-dialog {
  min-width: 400px;
}

//CHARTS
.ve-line {
  margin-bottom: 60px;
}

 //POLLS CHART
.pollsRepresentation {

  #circle-container {
    padding-top: 90px;
    width: 300px;
    height: 300px;
    position:relative;
    z-index:1;
    margin-left:3%;
  }
  .saveChart{
    margin-top: 15px;
  }
  #real, #img {
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
  }
  #real {
    margin-left: 150px;
    top: 10px;
    position: relative;
  }

  #img {
    transform: rotate(270deg);
    transform-origin: left top 0;
    float: left;
    text-align: center;
    margin-top: -100px;
  }

  .fill-circle {
    width: 280px;
    height: 280px;
    position: absolute;
    z-index: 5;
    background-color: #fff;
    border-radius: 190px;
    margin: 10px 0 0 10px;
    background-image: url(https://darko.co.za/circle-fill.png);
    background-repeat: no-repeat;
  }

  .dot {
    width:12px;
    height:12px;
    border-radius:10px;
    position:absolute;
    z-index:10;
    background: #000000;
  }

  .quarter {
    width: 150px;
    height: 150px
  }

  .top-left {
    border-top-left-radius: 200px;
    background: #1ba8e0;
    float: left;
  }

  .top-right {
    border-top-right-radius: 200px;
    background: #1ba8e0;
    float: right
  }

  .bottom-left {
    border-bottom-left-radius: 200px;
    background: #fecc0b;
    float: left
  }

  .bottom-right {
    border-bottom-right-radius: 200px;
    background: #fecc0b;
    float: right
  }
}