<template>
    <div class="md-layout-item md-medium-size-100 md-size-100">
        <div class="md-layout-item md-medium-size-100" v-bind:class="[ isResultVisible ? 'md-size-100' : 'md-size-50 left']">
            <md-field>
                <label>Frecventa de trecere inferioara</label>
                <md-input type="text" v-model="params.frecventa_de_trecere_inferioara"></md-input>
            </md-field>
            <md-field>
                <label>Frecventa de oprire inferioara</label>
                <md-input type="text" v-model="params.frecventa_de_oprire_inferioara"></md-input>
            </md-field>
            <md-field>
                <label>Atenuarea in banda de trecere</label>
                <md-input type="text" v-model="params.atenuarea_in_banda_de_trecere"></md-input>
            </md-field>
            <md-field>
                <label>Riplul permis in banda de trecere</label>
                <md-input type="text" v-model="params.riplul_permis_in_banda_de_trecere"></md-input>
            </md-field>
        </div>
        <div class="md-layout-item md-medium-size-100" v-bind:class="[ isResultVisible ? 'md-size-100' : 'md-size-50 right']">
            <md-field>
                <label>Frecventa de taiere superioara</label>
                <md-input type="text" v-model="params.frecventa_de_trecere_superioara"></md-input>
            </md-field>
            <md-field>
                <label>Frecventa de oprire superioara</label>
                <md-input type="text" v-model="params.frecventa_de_oprire_superioara"></md-input>
            </md-field>
            <md-field>
                <label>Atenuarea in banda de oprire</label>
                <md-input type="text" v-model="params.atenuarea_in_banda_de_oprire"></md-input>
            </md-field>
            <md-field>
                <label>Riplul permis in banda de trecere</label>
                <md-input type="text" v-model="params.riplul_permis_in_banda_de_oprire"></md-input>
            </md-field>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Cauer_FOB_FTB",

        props: {
            isResultVisible: {
                type: Boolean,
                default: false
            }
        },

        data() {
            return {
                params: {
                    frecventa_de_trecere_inferioara: '',
                    frecventa_de_trecere_superioara: '',
                    frecventa_de_oprire_inferioara: '',
                    frecventa_de_oprire_superioara: '',
                    atenuarea_in_banda_de_trecere: '',
                    atenuarea_in_banda_de_oprire: '',
                    riplul_permis_in_banda_de_oprire: '',
                    riplul_permis_in_banda_de_trecere: ''
                }
            }
        }
    }
</script>

<style scoped>

</style>