<template>
    <img :src="loaderImage" alt="Loader" v-bind:class="{full: fullSize}" class="loader">
</template>

<script>
    export default {
        name: 'loading-card',

        props: {
            loaderImage: {
                type: String,
                default: require('@/assets/img/loader.gif')
            },
            fullSize: {
                type: Boolean,
                default: false
            }
        }
    }
</script>

<style>
    .loader {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 250px;
    }

    .loader.full {
        max-width: 500px;
    }
</style>
