<template>
    <form>
        <notification :type="notificationStore.state.type"
                      :message="notificationStore.state.message"
                      :uid="notificationStore.state.uid"
                      class="dataTableAlerts"
        ></notification>
        <md-card>
            <md-card-header :data-background-color="dataBackgroundColor">
                <h4 class="title">Edit Profile</h4>
                <p class="category">Complete your profile</p>
            </md-card-header>

            <md-card-content>
                <div class="md-layout">
                    <div class="md-layout-item md-small-size-100 md-size-33">
                        <md-field>
                            <label>First Name</label>
                            <md-input v-model="profileUser.first_name" type="text"></md-input>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-small-size-100 md-size-33">
                        <md-field>
                            <label>Last Name</label>
                            <md-input v-model="profileUser.last_name" type="text"></md-input>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-small-size-100 md-size-33">
                        <md-field>
                            <label>Email Address</label>
                            <md-input v-model="profileUser.email" type="email"></md-input>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-small-size-100 md-size-50">
                        <md-field>
                            <label>Password</label>
                            <md-input v-model="profileUser.password" type="password"></md-input>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-small-size-100 md-size-50">
                        <md-field>
                            <label>Password Confirmation</label>
                            <md-input v-model="profileUser.password_confirmation" type="password"></md-input>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-size-100">
                        <md-field maxlength="5">
                            <label>About Me</label>
                            <md-textarea v-model="profileUser.description"></md-textarea>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-size-100 text-right">
                        <md-button class="md-raised md-success" @click="updateProfile(profileUser)">Update Profile</md-button>
                    </div>
                </div>

            </md-card-content>
        </md-card>
    </form>
</template>
<script>
    export default {
        name: 'edit-profile-form',

        components: {
            'notification':() => import ('@/components/NotificationPlugin/Notification.vue')
        },

        props: {
            dataBackgroundColor: {
                type: String,
                default: ''
            }
        },

        data(){
            return {
                profileUser: []
            }
        },

        methods: {
            updateProfile(user) {
                // set loading state
                this.loadingStore.setLoading(true);
                // TODO - add entire user as parameter
                axios.patch('/user/update', {
                    first_name: user.first_name,
                    last_name: user.last_name,
                    email: user.email,
                    description: user.description,
                    password: user.password,
                    password_confirmation: user.password_confirmation
                }).then(response => {
                        if (response.data.code === 100) {
                            this.user = response.data.data;

                            // show success notification
                            this.notificationStore.showNotification(
                                'User profile was updated successfully.',
                                'success',
                                '_' + Math.random().toString(36)
                            );
                        }
                        // set loading state
                        this.loadingStore.setLoading(false);
                    })
                    .catch(error => {
                        // show validation errors
                        this.notificationStore.showValidationNotification(error);
                        // set loading state
                        this.loadingStore.setLoading(false);
                    });
            }
        },

        computed: {
            isUserSet() {
                this.profileUser = this.userStore.user;

                return this.userStore.user
            }
        },

        watch: {
            isUserSet () {
                this.profileUser = this.userStore.user
            }
        }
    }

</script>
