<template>
    <md-card>
        <md-card-header :data-background-color="dataBackgroundColor">
            <h4 class="title">User Roles</h4>
        </md-card-header>

        <md-card-content>
            <checkbox :values="values" :disabled="true"></checkbox>
        </md-card-content>
    </md-card>
</template>
<script>
    export default {
        name: 'user-roles',

        components: {
            'checkbox':() => import ('@/components')
        },

        data() {
            return {
                dataBackgroundColor: 'green',
                values: [
                    {
                        name: 'Admin',
                        hasRole: true
                    },
                    {
                        name: 'Employee',
                        hasRole: false
                    },
                    {
                        name: 'User',
                        hasRole: true
                    }
                ],
            }
        }
    }

</script>
<style>

</style>
